<div class="tabs block-std m-bottom-x2">
	<div class="tabs__nav  ft-0-8-em opa-6 ">
		<button class="btn-sm btn-bd-tertiary">buttons</button>
		<button class="btn-sm btn-bd-tertiary">inputs</button>
		<button class="btn-sm btn-bd-tertiary">links</button>
	</div>
	<div class="tabs__content">
		<div class="tab">
			<button class="btn-bg-{{color}} btn-sm">btn-bg-{{color}} btn-sm</button>
			<button class="btn-bg-{{color}}">btn-bg-{{color}}</button>
			<button class="btn-bg-{{color}} btn-lg">btn-bg-{{color}} btn-lg</button>
			<br>
			<button class="btn-bd-{{color}} btn-sm">btn-bd-{{color}} btn-sm</button>
			<button class="btn-bd-{{color}}">btn-bd-{{color}}</button>
			<button class="btn-bd-{{color}} btn-lg">btn-bd-{{color}} btn-lg</button>
		</div>
		<div class="tab">
			<input class="btn-bg-{{color}} btn-sm" value="btn-bg-{{color}} btn-sm" type="button">
			<input class="btn-bg-{{color}}" value="btn-bg-{{color}}" type="button">
			<input class="btn-bg-{{color}} btn-lg" value="btn-bg-{{color}} btn-lg" type="button">
			<br>
			<input class="btn-bd-{{color}} btn-sm" value="btn-bd-{{color}} btn-sm" type="button">
			<input class="btn-bd-{{color}}" value="btn-bd-{{color}}" type="button">
			<input class="btn-bd-{{color}} btn-lg" value="btn-bd-{{color}} btn-lg" type="button">
		</div>
		<div class="tab">
			<a class="btn-bg-{{color}} btn-sm" href="#">btn-bg-{{color}} btn-sm</a>
			<a class="btn-bg-{{color}}" href="#">btn-bg-{{color}}</a>
			<a class="btn-bg-{{color}} btn-lg" href="#">btn-bg-{{color}} btn-lg</a>
			<br>
			<a class="btn-bd-{{color}} btn-sm" href="#">btn-bd-{{color}} btn-sm</a>
			<a class="btn-bd-{{color}}" href="#">btn-bd-{{color}}</a>
			<a class="btn-bd-{{color}} btn-lg" href="#">btn-bd-{{color}} btn-lg</a>
		</div>
	</div>
</div>
