<div class="bd-bottom-greylight m-bottom ">
  <button class="btn-sm icon-first">button.btn-sm.icon-first<i class="fa fa-arrow-left"></i></button>
  <button class="btn-sm icon-last">button.btn-sm.icon-last<i class="fa fa-arrow-right"></i></button>
  <br>
  <button class="icon-first">button{.btn}.icon-first<i class="fa fa-arrow-left"></i></button>
  <button class="icon-last">button{.btn}.icon-last<i class="fa fa-arrow-right"></i></button>
  <br>
  <button class="btn-lg icon-first">button.btn-lg.icon-first<i class="fa fa-arrow-left"></i></button>
  <button class="btn-lg icon-last">button.btn-lg.icon-last<i class="fa fa-arrow-right"></i></button>
</div>