<h1>This is a sample page</h1>
<p>This is a sample page for guideline purposes. you will find here most of the classical and default web elements at your disposal for designing your website, according to the current framway's configuration. </p>
<h2>Lorem ipsum dolor sit met - h2</h2>
<div class="clear-after">
	<img src="https://picsum.photos/200" alt="" class="fl-left">
	<p class="txt-limit">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ipsa tenetur totam eos maiores suscipit quibusdam sint ipsum asperiores voluptates nulla nam, consectetur a nihil deserunt assumenda harum esse velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. <b>In provident nobis ipsum mollitia</b>, et reiciendis maiores, placeat, ipsam exercitationem sapiente sit dolor <i>voluptatum possimus</i> maxime voluptatibus, ratione deleniti. Architecto, delectus?
	</p>
</div>
<div class="clear-after m-bottom">
	<img src="https://picsum.photos/500/300" alt="" class="fl-right">
	<h5 class="pbreak">Lorem ipsum dolor sit amet - h5</h5>
	<p class="txt-limit">
		Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing</a> elit. Dolorum ipsa tenetur totam eos maiores suscipit quibusdam sint ipsum asperiores voluptates nulla nam, consectetur a nihil deserunt assumenda harum esse velit. Lorem ipsum dolor sit amet, <u>consectetur adipisicing</u> elit. In provident nobis <a href="#">ipsum mollitia</a>, et reiciendis maiores, placeat, ipsam exercitationem sapiente sit dolor voluptatum possimus maxime voluptatibus, ratione deleniti. Architecto, delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam qui reiciendis, quisquam quam, impedit ducimus laboriosam, ullam ipsam ipsum sed, possimus tempore? Sapiente adipisci porro possimus neque, cum inventore optio.
	</p>
</div>
<div class="ft-1-5-rem txt-center ft-i ft-l opa-6 m-y-x4">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit
</div>
<div class="d-grid cols-2 cols-sm-1 ft-1-2-em m-bottom-x2">
	<div class="flex-justifycontent--center">
		<ul>
			<li>Lorem ipsum dolor sit amet</li>
			<li>consectetur adipisicing elit</li>
			<li>Animi eius facilis</li>
		</ul>
	</div>
	<div class="flex-justifycontent--center">
		<ul>
			<li>Lorem ipsum dolor sit amet</li>
			<li>consectetur adipisicing elit</li>
			<li>Animi eius facilis</li>
		</ul>
	</div>
</div>
<div class="d-grid cols-2 cols-sm-1 ft-1-2-em m-bottom-x3">
	<div class="flex-justifycontent--center">
		<ol>
			<li>Lorem ipsum dolor sit amet</li>
			<li>consectetur adipisicing elit</li>
			<li>Animi eius facilis</li>
		</ol>
	</div>
	<div class="flex-justifycontent--center">
		<ol>
			<li>Lorem ipsum dolor sit amet</li>
			<li>consectetur adipisicing elit</li>
			<li>Animi eius facilis</li>
		</ol>
	</div>
</div>
<div class="table-responsive m-bottom-x2">
	<table class="table">
		<tr>
			<th>Lorem</th>
			<th>Ipsum</th>
			<th>Dolor</th>
			<th>Sit</th>
		</tr>
		<tr>
			<td>lorem ipsum</td>
			<td>lorem ipsum</td>
			<td>lorem ipsum</td>
			<td>lorem ipsum</td>
		</tr>
		<tr>
			<td>lorem ipsum</td>
			<td>lorem ipsum</td>
			<td>lorem ipsum</td>
			<td>lorem ipsum</td>
		</tr>
		<tr>
			<td>lorem ipsum</td>
			<td>lorem ipsum</td>
			<td>lorem ipsum</td>
			<td>lorem ipsum</td>
		</tr>
	</table>
</div>
<div class="txt-center">
	<button>Lorem ipsum</button>
	<button class="btn-bd-primary">dolor sit amet</button>
</div>
