<div class="bd-bottom-greylight m-bottom ">
	<h3>With icons</h3>
  	<button class="btn-sm icon-first">button.btn-sm.icon-first<i class="fa fa-arrow-left"></i></button>
  	<button class="btn-sm icon-last">button.btn-sm.icon-last<i class="fa fa-arrow-right"></i></button>
  	<br>
  	<button class="btn icon-first">button.btn.icon-first<i class="fa fa-arrow-left"></i></button>
  	<button class="btn icon-last">button.btn.icon-last<i class="fa fa-arrow-right"></i></button>
  	<br>
  	<button class="btn-lg icon-first">button.btn-lg.icon-first<i class="fa fa-arrow-left"></i></button>
  	<button class="btn-lg icon-last">button.btn-lg.icon-last<i class="fa fa-arrow-right"></i></button>
</div>
<div class="bd-bottom-greylight m-bottom ">
  <h3>Input groups</h3>
    <div class="input-group">
      <input type="text" placeholder="button.btn-sm">
      <button class="btn-sm">button</button>
    </div>
    <div class="input-group">
      <input type="text" placeholder="button.btn">
      <button class="btn">button</button>
    </div>
    <div class="input-group">
      <input type="text" placeholder="button.btn-lg">
      <button class="btn-lg">button</button>
    </div>
    <div class="input-group">
      <input type="text" placeholder="button.btn-sm.icon-last ">
      <button class="icon-last btn-sm">button<i class="fa fa-arrow-right"></i></button>
    </div>
    <div class="input-group">
      <input type="text" placeholder="button.btn.icon-last ">
      <button class="btn icon-last">button<i class="fa fa-arrow-right"></i></button>
    </div>
    <div class="input-group">
      <input type="text" placeholder="button.btn-lg.icon-last ">
      <button class="icon-last btn-lg">button<i class="fa fa-arrow-right"></i></button>
    </div>
    <br>
    <div class="input-group">
      <input type="text" placeholder="button.btn-sm">
      <button class="btn-sm"><i class="fa fa-search"></i></button>
    </div>
    <div class="input-group">
      <input type="text" placeholder="button.btn">
      <button class="btn "><i class="fa fa-search"></i></button>
    </div>
    <div class="input-group">
      <input type="text" placeholder="button.btn-lg">
      <button class="btn-lg"><i class="fa fa-search"></i></button>
    </div>
    <br>
    <div class="input-group">
      <input type="text" placeholder="button.btn-sm.squared">
      <button class="squared btn-sm"><i class="fa fa-search"></i></button>
    </div>
    <div class="input-group">
      <input type="text" placeholder="button.btn.squared">
      <button class="btn squared"><i class="fa fa-search"></i></button>
    </div>
    <div class="input-group">
      <input type="text" placeholder="button.btn-lg.squared">
      <button class="squared btn-lg"><i class="fa fa-search"></i></button>
    </div>
</div>
<div class="bd-bottom-greylight m-bottom ">
  <h3>Input groups + <span class="tag">.form-shrink</span></h3>
    <div class="input-group form-shrink">
      <input type="text" placeholder="button.btn-sm">
      <button class="btn-sm">button</button>
    </div>
    <div class="input-group form-shrink">
      <input type="text" placeholder="button.btn">
      <button class="btn btn">button</button>
    </div>
    <div class="input-group form-shrink">
      <input type="text" placeholder="button.btn-lg">
      <button class="btn-lg">button</button>
    </div>
    <div class="input-group form-shrink">
      <input type="text" placeholder="button.btn-sm.icon-last ">
      <button class="icon-last btn-sm">button<i class="fa fa-arrow-right"></i></button>
    </div>
    <div class="input-group form-shrink">
      <input type="text" placeholder="button.btn.icon-last ">
      <button class="btn icon-last">button<i class="fa fa-arrow-right"></i></button>
    </div>
    <div class="input-group form-shrink">
      <input type="text" placeholder="button.btn-lg.icon-last ">
      <button class="icon-last btn-lg">button<i class="fa fa-arrow-right"></i></button>
    </div>
    <br>
    <div class="input-group form-shrink">
      <input type="text" placeholder="button.btn-sm">
      <button class="btn-sm"><i class="fa fa-search"></i></button>
    </div>
    <div class="input-group form-shrink">
      <input type="text" placeholder="button.btn">
      <button class="btn "><i class="fa fa-search"></i></button>
    </div>
    <div class="input-group form-shrink">
      <input type="text" placeholder="button.btn-lg">
      <button class="btn-lg"><i class="fa fa-search"></i></button>
    </div>
    <br>
    <div class="input-group form-shrink">
      <input type="text" placeholder="button.btn-sm.squared">
      <button class="squared btn-sm"><i class="fa fa-search"></i></button>
    </div>
    <div class="input-group form-shrink">
      <input type="text" placeholder="button.btn.squared">
      <button class="btn squared"><i class="fa fa-search"></i></button>
    </div>
    <div class="input-group form-shrink">
      <input type="text" placeholder="button.btn-lg.squared">
      <button class="squared btn-lg"><i class="fa fa-search"></i></button>
    </div>
</div>