<h1 class="bg-{{color}}">lorem ipsum dolor sit amet (H1) <span class="classTag">bg-{{color}}</span></h1>
<h2 class="bg-{{color}}">lorem ipsum dolor sit amet (H2) <span class="classTag">bg-{{color}}</span></h2>
<h3 class="bg-{{color}}">lorem ipsum dolor sit amet (H3) <span class="classTag">bg-{{color}}</span></h3>
<h4 class="bg-{{color}}">lorem ipsum dolor sit amet (H4) <span class="classTag">bg-{{color}}</span></h4>
<h5 class="bg-{{color}}">lorem ipsum dolor sit amet (H5) <span class="classTag">bg-{{color}}</span></h5>
<h6 class="bg-{{color}}">lorem ipsum dolor sit amet (H6) <span class="classTag">bg-{{color}}</span></h6>
<div class="m-bottom-x2"></div>