<div class="form-group m-bottom-x2">
  <label for="input14">Input range</label> - todo: script récupération et affichage valeur sélectionnée
  <input id="input14" type="range" min="0" max="100" value="50" step="5">
</div>
<div class="form-group m-bottom">
  <label for="">Checkboxes</label>
  <input id="input15" type="checkbox" checked>
  <label for="input15">Label checkbox Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas </label>
  <input id="input16" type="checkbox">
  <label for="input16">Label checkbox</label>
</div>
<div class="form-group m-bottom-x2">
  <label for="">Radios</label>
  <input name="inputRadio" id="input17" type="radio" checked>
  <label for="input17">Label radio</label>
  <input name="inputRadio" id="input18" type="radio">
  <label for="input18">Label radio Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas </label>
</div>
<div class="form-group m-bottom">
  <label for="input20">Select</label>
  <select name="" id="input20">
    <option value="1">value 1</option>
    <option value="2">value 2</option>
    <option value="3">value 3</option>
  </select>
</div>
