<!--   <h4 class="sep-top">lorem ipsum (h4) - sep-top</h4>
  <h4 class="sep-bottom">lorem ipsum (h4) - sep-bottom</h4>
  <h4 class="sep-top sep-bottom">lorem ipsum (h4) - sep-top sep-bottom</h4>

  <h4 class="sep-left">lorem ipsum (h4) - sep-left</h4>
  <h4 class="sep-right-green">lorem ipsum (h4) - sep-right-green</h4>
  <h4 class="sep-left-orange sep-right">lorem ipsum (h4) - sep-left-orange sep-right</h4>
  <h4 class="sep-left-orange sep-right-green">lorem ipsum (h4) - sep-left-orange sep-right-green</h4>
 -->

<h1 class="sep-top">lorem ipsum dolor sit amet (H1) <span class="classTag">sep-top</span></h1>
<h2 class="sep-top">lorem ipsum dolor sit amet (H2) <span class="classTag">sep-top</span></h2>
<h3 class="sep-top">lorem ipsum dolor sit amet (H3) <span class="classTag">sep-top</span></h3>
<h4 class="sep-top">lorem ipsum dolor sit amet (H4) <span class="classTag">sep-top</span></h4>
<h5 class="sep-top">lorem ipsum dolor sit amet (H5) <span class="classTag">sep-top</span></h5>
<h6 class="sep-top">lorem ipsum dolor sit amet (H6) <span class="classTag">sep-top</span></h6>
<div class="m-bottom-x3"></div>

<h1 class="sep-bottom">lorem ipsum dolor sit amet (H1) <span class="classTag">sep-bottom</span></h1>
<h2 class="sep-bottom">lorem ipsum dolor sit amet (H2) <span class="classTag">sep-bottom</span></h2>
<h3 class="sep-bottom">lorem ipsum dolor sit amet (H3) <span class="classTag">sep-bottom</span></h3>
<h4 class="sep-bottom">lorem ipsum dolor sit amet (H4) <span class="classTag">sep-bottom</span></h4>
<h5 class="sep-bottom">lorem ipsum dolor sit amet (H5) <span class="classTag">sep-bottom</span></h5>
<h6 class="sep-bottom">lorem ipsum dolor sit amet (H6) <span class="classTag">sep-bottom</span></h6>
<div class="m-bottom-x3"></div>

<h1 class="sep-left">lorem ipsum dolor sit amet (H1) <span class="classTag">sep-left</span></h1>
<h2 class="sep-left">lorem ipsum dolor sit amet (H2) <span class="classTag">sep-left</span></h2>
<h3 class="sep-left">lorem ipsum dolor sit amet (H3) <span class="classTag">sep-left</span></h3>
<h4 class="sep-left">lorem ipsum dolor sit amet (H4) <span class="classTag">sep-left</span></h4>
<h5 class="sep-left">lorem ipsum dolor sit amet (H5) <span class="classTag">sep-left</span></h5>
<h6 class="sep-left">lorem ipsum dolor sit amet (H6) <span class="classTag">sep-left</span></h6>
<div class="m-bottom-x3"></div>

<h1 class="sep-right">lorem ipsum dolor sit amet (H1) <span class="classTag">sep-right</span></h1>
<h2 class="sep-right">lorem ipsum dolor sit amet (H2) <span class="classTag">sep-right</span></h2>
<h3 class="sep-right">lorem ipsum dolor sit amet (H3) <span class="classTag">sep-right</span></h3>
<h4 class="sep-right">lorem ipsum dolor sit amet (H4) <span class="classTag">sep-right</span></h4>
<h5 class="sep-right">lorem ipsum dolor sit amet (H5) <span class="classTag">sep-right</span></h5>
<h6 class="sep-right">lorem ipsum dolor sit amet (H6) <span class="classTag">sep-right</span></h6>
<div class="m-bottom-x4"></div>

<h2 class="sep-top sep-bottom">lorem ipsum dolor sit amet (H2) <span class="classTag">sep-top sep-bottom</span></h2>
<div class="m-bottom-x2"></div>
<h2 class="sep-left sep-right">lorem ipsum dolor (H2) <span class="classTag">sep-left sep-right</span></h2>
<div class="m-bottom-x2"></div>