<div class="bd-bottom-greylight m-bottom flex-wrap-alignitems--flexend">
  <button class="btn-sm">button.btn-sm</button>&nbsp;
  <button class="">button{.btn}</button>&nbsp;
  <button class="btn-lg">button.btn-lg</button>&nbsp;
</div>
<div class="bd-bottom-greylight m-bottom flex-wrap-alignitems--flexend">
  <input type="button" class="btn-sm" value="input.btn-sm *">&nbsp;
  <input type="button" class="" value="input{.btn} *">&nbsp;
  <input type="button" class="btn-lg" value="input.btn-lg *">&nbsp;
  <div class="w-100"></div>
  <input type="submit" class="btn-sm" value="input.btn-sm *">&nbsp;
  <input type="submit" class="" value="input{.btn} *">&nbsp;
  <input type="submit" class="btn-lg" value="input.btn-lg *">&nbsp;
  <div class="w-100"></div>
  <div class="ft-0-6-em ft-i"><b>*</b> input type button or submit</div>
</div>
<div class="flex-wrap-alignitems--flexend">
  <a href="#" class="btn-sm">a.btn-sm</a>&nbsp;
  <a href="#" class="btn">a.btn</a>&nbsp;
  <a href="#" class="btn-lg">a.btn-lg</a>&nbsp;
</div>